<%= form_for [@as_note, @as_label] do |f| %>
  <% if @as_label.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@as_label.errors.count, "error") %> prohibited this as_label from being saved:</h2>

      <ul>
      <% @as_label.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :label_format %><br />
    <%= f.select(:label_format,["","String","Text","RichText","Date","Time","Numeric","Select","MultiSelect"]) %>
  </div>
  <div class="field">
    <%= f.label :possible_values %>  (splited by space)<br />
		<%= f.text_area :possible_values, :size=>"80x5" %>
  </div>
  <div class="field">
    <%= f.label :default_value %><br />
    <%= f.text_area :default_value, :size=>"80x5" %>
  </div>
  <div class="field">
    <%= f.label :is_required %><br />
    <%= f.check_box :is_required %>
  </div>
  <div class="field">
    <%= f.label :default_sort %><br />
    <%= f.check_box :default_sort %>
  </div>
  <div class="field">
    <%= f.label :invisible %><br />
    <%= f.check_box :invisible %>
  </div>
  <div class="field">
    <%= f.label :comment %><br />
    <%= f.text_area :comment, :size=>"80x5" %>
  </div>
  <div class="actions">
    <%= f.submit("Submit") %>
  </div>
<% end %>
