<%= form_for [@as_note, @as_label] do |f| %>
  <% if @as_label.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@as_label.errors.count, "error") %> prohibited this as_label from being saved:</h2>

      <ul>
      <% @as_label.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :comment %><br />
    <%= f.text_area :comment %>
  </div>
  <div class="field">
    <%= f.label :label_format %><br />
    <%= f.text_field :label_format %>
  </div>
  <div class="field">
    <%= f.label :possible_values %><br />
    <%= f.text_area :possible_values %>
  </div>
  <div class="field">
    <%= f.label :min_length %><br />
    <%= f.text_field :min_length %>
  </div>
  <div class="field">
    <%= f.label :max_length %><br />
    <%= f.text_field :max_length %>
  </div>
  <div class="field">
    <%= f.label :regexp %><br />
    <%= f.text_field :regexp %>
  </div>
  <div class="field">
    <%= f.label :is_required %><br />
    <%= f.check_box :is_required %>
  </div>
  <div class="field">
    <%= f.label :is_filter %><br />
    <%= f.check_box :is_filter %>
  </div>
  <div class="field">
    <%= f.label :position %><br />
    <%= f.text_field :position %>
  </div>
  <div class="field">
    <%= f.label :searchable %><br />
    <%= f.check_box :searchable %>
  </div>
  <div class="field">
    <%= f.label :default_value %><br />
    <%= f.text_area :default_value %>
  </div>
  <div class="field">
    <%= f.label :editable %><br />
    <%= f.check_box :editable %>
  </div>
  <div class="field">
    <%= f.label :visible %><br />
    <%= f.check_box :visible %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
