<h1>Listing as_labels</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Comment</th>
    <th>Label format</th>
    <th></th>
    <th></th>
  </tr>

<% @as_labels.each do |as_label| %>
  <tr>
    <td><%= link_to as_label.name, as_note_as_label_path(@as_note,as_label) %></td>
    <td><%= as_label.comment %></td>
    <td><%= as_label.label_format %></td>
    <td><%= link_to 'Edit', edit_as_note_as_label_path(@as_note,as_label) %></td>
    <td><%= link_to 'Destroy', [@as_note,as_label], :confirm => 'Are you sure to delete this column and all releated data?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'View Detail', @as_note %> |
<%= link_to 'New Label', new_as_note_as_label_path(@as_note) %> |
<%= link_to 'View Data', as_note_as_values_path(@as_note) %>
