<h1>Listing as_labels</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Comment</th>
    <th>Label format</th>
    <th>Possible values</th>
    <th>Min length</th>
    <th>Max length</th>
    <th>Regexp</th>
    <th>Is required</th>
    <th>Is filter</th>
    <th>Position</th>
    <th>Searchable</th>
    <th>Default value</th>
    <th>Editable</th>
    <th>Visible</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @as_labels.each do |as_label| %>
  <tr>
    <td><%= as_label.name %></td>
    <td><%= as_label.comment %></td>
    <td><%= as_label.label_format %></td>
    <td><%= as_label.possible_values %></td>
    <td><%= as_label.min_length %></td>
    <td><%= as_label.max_length %></td>
    <td><%= as_label.regexp %></td>
    <td><%= as_label.is_required %></td>
    <td><%= as_label.is_filter %></td>
    <td><%= as_label.position %></td>
    <td><%= as_label.searchable %></td>
    <td><%= as_label.default_value %></td>
    <td><%= as_label.editable %></td>
    <td><%= as_label.visible %></td>
    <td><%= link_to 'Show', [@as_note,as_label] %></td>
    <td><%= link_to 'Edit', edit_as_note_as_label_path(@as_note,as_label) %></td>
    <td><%= link_to 'Destroy', [@as_note,as_label], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Back to AsNote', @as_note %> |
<%= link_to 'New As label', new_as_note_as_label_path(@as_note) %>
