<p>
  <b>Name:</b>
  <%= @as_label.name %>
</p>

<p>
  <b>Label format:</b>
  <%= @as_label.label_format %>
</p>

<p>
  <b>Possible values:</b>
  <%= @as_label.possible_values %>
</p>

<p>
  <b>Default value:</b>
  <%= @as_label.default_value %>
</p>

<p>
  <b>Is required:</b>
  <%= @as_label.is_required %>
</p>

<p>
  <b>Default sort:</b>
  <%= @as_label.default_sort %>
</p>

<p>
  <b>Invisible:</b>
  <%= @as_label.invisible %>
</p>

<p>
  <b>Position:</b>
  <%= @as_label.position %>
</p>

<p>
  <b>Comment:</b>
  <%= @as_label.comment %>
</p>


<%= link_to 'Back', as_note_as_labels_path(@as_note) %> |
<%= link_to 'Edit', edit_as_note_as_label_path(@as_note,@as_label) %> |
<%= link_to 'Destroy', [@as_note,@as_label], :confirm=>'Are you sure to delete this label and all related data?', :method=>:delete %>
