<div class="header_menu">
  <%= link_to 'Edit_Note_Column', edit_as_note_as_label_path(@as_note,@as_label) %> &nbsp;
  <%= link_to 'Del_Note_column', [@as_note,@as_label], :confirm=>'Are you sure to delete this label and all related data?', :method=>:delete %>&nbsp;
  <%= link_to 'View_Note_Columns', as_note_as_labels_path(@as_note) %> &nbsp;
  <%= link_to "View_Note_Records", as_note_as_values_path(@as_note) %> 
</div>

<b><%= link_to @as_note.name, as_note_as_values_path(@as_note) %>: Note_Column_Detail</b>
<BR/>

<p>
  <b>Name:</b>
  <%= @as_label.name %>
</p>

<p>
  <b>Label format:</b>
  <%= @as_label.label_format %>
</p>

<p>
  <b>Possible values:</b>
  <%= @as_label.possible_values %>
</p>

<p>
  <b>Default value:</b>
  <%= @as_label.default_value %>
</p>

<p>
  <b>Is required:</b>
  <%= @as_label.is_required %>
</p>

<p>
  <b>Default sort:</b>
  <%= @as_label.default_sort %>
</p>

<p>
  <b>Invisible:</b>
  <%= @as_label.invisible %>
</p>

<p>
  <b>Position:</b>
  <%= @as_label.position %>
</p>

<p>
  <b>Comment:</b>
  <%= @as_label.comment %>
</p>

