<div class="header_menu">
  <%= link_to 'My Notes', as_notes_path, :class=>"menu_link" %> &nbsp;
  <%= link_to 'Following Notes', as_notes_path, :class=>"menu_link" %> &nbsp;
  <%= link_to 'Public notes', public_as_notes_path, :class=>"menu_link" %> &nbsp;
  <%= link_to 'Following', following_users_path, :class=>"menu_link" %> &nbsp;
  <%= link_to 'All users', all_users_path, :class=>"menu_link" %> &nbsp;
</div>

<strong>My Followers: </strong>
<div id="users_list">
  <%= render 'list' %>
</div>

