<%= form_for(@as_note) do |f| %>
  <% if @as_note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@as_note.errors.count, "error") %> prohibited this as_note from being saved:</h2>

      <ul>
      <% @as_note.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
		<%= f.text_field :name, :size=>"52" %>
  </div>
  <div class="field">
    <%= f.label :comment %><br />
		<%= f.text_area :comment, :class=>"mceEditor", :size=>"60x12" %>
  </div>
  <div class="field">
    <%= f.label :public %><br />
    <%= f.check_box :public %>
  </div>
  <div class="actions">
    <%= f.submit("Submit") %>
  </div>
<% end %>
