<!--
<h1>All Notes</h1>
-->

<table>
  <tr>
    <th>Name</th>
    <th>Comment</th>
    <th>created_at</th>
    <th>updated_at</th>
  </tr>

<% @as_notes.each do |as_note| %>
  <tr>
    <td><%= link_to as_note.name, as_note_as_values_path(as_note) %></td>
    <td><pre><%= raw as_note.comment %></pre></td>
    <td><%= as_note.created_at.strftime("%Y-%m-%d") %></td>
		<% if as_note.as_labels.first then %>
			<% if as_note.as_labels.first.as_values then %>
				<td><%= as_note.as_labels.first.as_values.last["updated_at"].strftime("%Y-%m-%d") %></td>
			<% end %>
    <% else %>
    <td></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New As note', new_as_note_path %> | 
<%= link_to 'View public notes', "public" %>

