<h1>Listing as_notes</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Comment</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @as_notes.each do |as_note| %>
  <tr>
    <td><%= as_note.name %></td>
    <td><%= as_note.comment %></td>
    <td><%= link_to 'Show', as_note %></td>
    <td><%= link_to 'Edit', edit_as_note_path(as_note) %></td>
    <td><%= link_to 'Destroy', as_note, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New As note', new_as_note_path %>
