<div class="header_menu">
    <%= link_to 'View my notes', as_notes_path, :class=>"menu_link" %> &nbsp;
    <%= link_to 'View following notes', notes_following_user_path(@user), :class=>"menu_link" %> &nbsp;
    <%= link_to 'View all users', all_users_path, :class=>"menu_link" %>
</div>

<div id="public_notes_list">
  <div class="list_head">
    Total:  <%= @total %> Notes
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <%= paginate @as_notes %>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    <%= form_tag "public", :method=>"get" do %>
      <%= select_tag(:label,options_for_select(@labels_select,@label_selected)) %>
      <%= text_field_tag(:search, @search,:size=>"15") %>
      <%= submit_tag "Search", :name=>nil %>
    <% end %>
  </div>

  <ul id="public_notes">
  <% @as_notes.each do |as_note| %>
    <%= content_tag_for :li, as_note do %>
      <div class="note_item">
        <%= link_to as_note.name, as_note_as_values_path(as_note),:title=>Nokogiri::HTML.parse(as_note.comment).content %>
      </div>

      <div class="follow_form">
        <% if current_user %>
          <% if current_user.note_following?(as_note)%>
            <%= render :partial=>"note_unfollow", :locals=>{:as_note=>as_note} %>
          <% else %>
            <%= render :partial=>"note_follow", :locals=>{:as_note=>as_note} %>
          <% end %>
        <% end %>
      </div>
      <br />
    <% end %>
  <% end %>
  </ul>
</div>

