<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @as_note.name %>
</p>

<p>
  <b>Comment:</b>
  <%= @as_note.comment %>
</p>


<%= link_to 'Back', as_notes_path %> |
<%= link_to 'Edit', edit_as_note_path(@as_note) %> |
<%= link_to 'Destroy', @as_note, :confirm => 'Are you sure?', :method => :delete %> |
<%= link_to "Labels", as_note_as_labels_path(@as_note) %> |
<%= link_to "data", as_note_as_values_path(@as_note) %>
