<div class="header_menu">
  <%= link_to 'Set_Note_Information', edit_as_note_path(@as_note) %> &nbsp;
  <%= link_to 'Set_Note_Columns', as_note_as_labels_path(@as_note) %> &nbsp;
  <%= link_to 'Destroy_Note', @as_note, :confirm => 'Are you sure to delete this notes and all releated label/data?', :method => :delete %> &nbsp;
  <%= link_to "View_Note_Records", as_note_as_values_path(@as_note) %> 
</div>

<b><%= link_to @as_note.name, as_note_as_values_path(@as_note) %>: Show_Note_Information</b>
<p>
  <b>Name:</b>
  <%= @as_note.name %>
</p>

<p>
  <b>Comment:</b>
  <%= raw @as_note.comment %>
</p>

<p>
  <b>Public:</b>
  <%= @as_note.public %>
</p>

<p>
  <b>Created_at:</b>
  <%= @as_note.get_created_date(@as_note) %>
</p>

<p>
  <b>Updated_at:</b>
  <%= @as_note.get_updated_date(@as_note) %>
</p>

<p>
  <b>Owned_by:</b> <%= link_to @as_note.owners.length, owners_as_note_path(@as_note) %> user(s)
</p>

<p>
  <b>followed_by:</b> <%= link_to @as_note.followers.length, followers_as_note_path(@as_note) %> user(s)
</p>

