<div class="header_menu">
  <%= link_to 'Cancel', :back %> &nbsp;
</div>

<div>
  <h1>Apply to be owner of <%= link_to @as_note.name, as_note_path(@as_note) %></h1>

  <%= form_for [@as_note, @req] do |f| %>
    <p>
      <%= f.label :message_text %><br />
      <%= f.text_area :message_text %>
    </p>
    <p class="button"><%= f.submit %></p>
  <% end %>
</div>

