<% @labels.each do |as_label| %>
  <div class="field">
    <%= as_label.name %> <BR />
		<% case as_label.label_format %>
		<% when "String" %>
			<%= text_field_tag("content[#{as_label.id}]", AsValue.current_value(@numero,as_label.id),:size=>"52") %>
		<% when "Date" %>
			<%= text_field_tag("content[#{as_label.id}]", AsValue.current_value(@numero,as_label.id),:size=>"52") %>
      <!-- select_date Date.parse(AsValue.current_value(@numero,as_label.id)||Date.today.to_s),:prefix=>"content[#{as_label.id}]", :start_year=>1970,:end_year=>2020 -->
		<% when "Time" %>
			<%= text_field_tag("content[#{as_label.id}]", AsValue.current_value(@numero,as_label.id),:size=>"52") %>
      <!-- select_datetime Time.parse(AsValue.current_value(@numero,as_label.id)||Time.now.to_s),:prefix=>"content[#{as_label.id}]", :start_year=>1970,:end_year=>2020 -->
		<% when "Numeric" %>
			<%= text_field_tag("content[#{as_label.id}]", AsValue.current_value(@numero,as_label.id),:size=>"5") %>
		<% when "Select" %>
		<%= select_tag("content[#{as_label.id}]", options_for_select(as_label.possible_values.split,AsValue.current_value(@numero,as_label.id))) %>
		<% when "Checkbox" %>
		<% when "Radio" %>
		<% when "Text" %>
      <%= text_area_tag("content[#{as_label.id}]", AsValue.current_value(@numero,as_label.id), :class => "mceEditor", :size=>"60x12") %>
		<% else %>
      <%= text_area_tag("content[#{as_label.id}]", AsValue.current_value(@numero,as_label.id), :class => "mceEditor") %>
		<% end %>
  </div>
<% end %>

<div class="actions">
  <%= submit_tag "Submit" %>
</div>
