<div class="header_menu">
  <%= link_to 'Add_Record', new_as_note_as_value_path(@as_note) %> &nbsp;
  <%= link_to 'Set_Note_Information', edit_as_note_path(@as_note) %> &nbsp;
  <%= link_to 'Set_Note_Columns', as_note_as_labels_path(@as_note) %> &nbsp;
</div>

<b> <%= link_to @as_note.name, as_note_as_values_path %></b> 
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Total:  <%= @records_count %> Records
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<%= paginate @l_values_page %>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<%= form_tag as_note_as_values_path, :method=>"get" do %>
  <%= select_tag(:label,options_for_select(@labels_select,@label_selected_array)) %>
  <%= text_field_tag(:search, @search,:size=>"15") %>
	<%= submit_tag "Search", :name=>nil %>
<% end %>

<table>
  <tr>
    <th><%= link_to "No.", {:sort=>"numero", :direction=>@direction, :search=>@search, :label=>@label_selected}, {:class=>"current #{@sort == 'numero' ? (params[:direction] == 'asc' ? 'desc' : 'asc') : nil}"} %></th>
    <% @labels.each do |as_label| %>
    <th><%= link_to as_label.name, {:sort=>as_label.id, :direction=>@direction, :search=>@search, :label=>@label_selected}, {:class=>"current #{as_label.id == @sort.to_i ? (params[:direction] == 'asc' ? 'desc' : 'asc') : nil}"} %></th>

    <% end %>
    <th></th>
    <th></th>
  </tr>

  <% @l_values_page.each do |v| %>
  <tr>
    <td><%= link_to v.numero, as_note_as_value_path(@as_note, v.numero) %></td>
    <% @labels.each do |as_label| %>
			<% case as_label.label_format %>
			<% when "Datee" %>
        <td><pre><%= Date.parse(AsValue.current_value(v.numero,as_label.id)||Date.today.to_s) %></pre></td>
			<% when "RichText" %>
				<td><%= raw AsValue.current_value(v.numero, as_label.id) %></td>
			<% else %>
				<td><pre><%= AsValue.current_value(v.numero, as_label.id) %></pre></td>
			<% end %>
    <% end %>
    <td><%= link_to 'Edit', edit_as_note_as_value_path(@as_note, v.numero,:sort=>@sort,:direction=>@direction_static,:search=>@search,:label=>@label_selected,:page=>@page_number) %></td>
		<td><%= link_to 'Destroy', as_note_as_value_path(@as_note,v.numero,:sort=>@sort,:direction=>@direction_static,:search=>@search,:label=>@label_selected,:page=>@page_number), :confirm=>'Are you sure to delete this record?', :method=>:delete %></td>
  </tr>
  <% end %>
</table>
<%= paginate @l_values_page %>

<%= link_to "Export CSV", :format=>:csv,:sort=>@sort,:direction=>@direction_static,:search=>@search,:label=>@label_selected %>
