<!--<h1>Listing Records</h1>-->
<%= link_to 'Home', as_notes_path %> |
<%= link_to 'Setting', @as_note %> |
<%= link_to 'New', new_as_note_as_value_path(@as_note) %>

<table>
  <tr>
    <th>Numero</th>
    <% @labels.each do |as_label| %>
    <th><%= as_label.name %></th>
    <% end %>
    <th></th>
    <th></th>
  </tr>

  <% @l1_values.each do |v| %>
  <tr>
    <td><%= link_to v.numero, as_note_as_value_path(@as_note, v.numero) %></td>
    <% @labels.each do |as_label| %>
      <td><pre><%= AsValue.current_value(v.numero, as_label.id) %></pre></td>
    <% end %>
    <td><%= link_to 'Edit', edit_as_note_as_value_path(@as_note, v.numero) %></td>
    <td><%= link_to 'Destroy', as_note_as_value_path(@as_note,v.numero), :confirm=>'Are you sure?', :method=>:delete %></td>
  </tr>
  <% end %>
</table>
