<h1>Listing as_values</h1>

<table>
  <tr>
    <th>Value</th>
    <th>Numero</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @as_values.each do |as_value| %>
  <tr>
    <td><%= as_value.value %></td>
    <td><%= as_value.numero %></td>
    <td><%= link_to 'Show', as_value %></td>
    <td><%= link_to 'Edit', edit_as_value_path(as_value) %></td>
    <td><%= link_to 'Destroy', as_value, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Back to Home', as_notes_path %> |
<%= link_to 'Back to Note', @as_note %> |
<%= link_to 'New Record', new_as_note_as_value_path(@as_note) %>
