<p id="notice"><%= notice %></p>

<p>
  <b>Value:</b>
  <%= @as_value.value %>
</p>

<p>
  <b>Numero:</b>
  <%= @as_value.numero %>
</p>


<%= link_to 'Edit', edit_as_value_path(@as_value) %> |
<%= link_to 'Back', as_values_path %>
