<div class="header_menu">
  <%= link_to 'View_Note_Records', as_note_as_values_path(@as_note) %> &nbsp;
  <%= link_to 'Edit_This_Record', edit_as_note_as_value_path(@as_note, @numero) %> &nbsp;
  <%= link_to 'Destroy_This_Record', as_note_as_value_path(@as_note,@numero), :confirm=>'Are you sure to delete this record?', :method=>:delete %>
</div>

<b> <%= link_to @as_note.name, as_note_as_values_path %>: Show_Record_Detail</b> 
<BR/>

<% @labels.each do |as_label| %>
<p>
  <b><%= as_label.name %>:</b>
  <pre><%= raw AsValue.current_value(@numero,as_label.id) %></pre>
</p>
<% end %>
<p>
  <b>created_at:</b>
  <pre><%= AsValue.get_record_created_date(@labels,@numero) %></pre>
</p>
<p>
  <b>updated_at:</b>
  <pre><%= AsValue.get_record_updated_date(@labels,@numero) %></pre>
</p>

