<p id="notice"><%= notice %></p>

<h1>Record Detail:</h1>

<% @labels.each do |as_label| %>
<p>
  <b><%= as_label.name %>:</b>
  <pre><%= AsValue.current_value(@numero,as_label.id) %></pre>
</p>
<% end %>

<%= link_to 'Back', as_note_as_values_path(@as_note) %> |
<%= link_to 'Edit', edit_as_note_as_value_path(@as_note, @numero) %>
